BOT_TOKEN="7620111592:AAHhABAeu5qLQKsTCCGU596CG78zg00WygA"
FEE_RECEIVER=
RPC=
DB_URL=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IPFS_KEY=
PORT=9999
API_URL=

PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_API_JWT=

IPFS_URL=


      